Binaries/
DerivedDataCache/
Intermediate/
Saved/
.vs/
.idea/
*.sln
*.VC.db
*.VC.opendb
*.opensdf
*.sdf
*.suo
*.user
*.log
Plugins/*/Binaries/
Plugins/*/Intermediate/
Evidence/EnvironmentCaptures/*.log
Content/Dragon_graveyard/
Content/Knights_Pack/
Content/Dwarf_Pack/

__pycache__/
*.pyc
